.heading-major {
    text-align: center;
    font-size: 36px;
    color: green;
    padding: 8px auto;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-minor {
    text-align: center;
    color: gold;
    background-color: black;
}